*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* nav css */
#main{
    width: 100%;
    height: 100vh;
    
}

li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}
.navbar li a:hover{
    color: rgb(99, 214, 237);
}
.navbar{

font-family:Georgia, 'Times New Roman', Times, serif;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .calls{
    display: flex;
    white-space: nowrap;
    /* background-color: rgb(250, 127 ,99); */
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.2s;/*transition se color timing slow hota he*/
    width: 17%;

}
 .calls:hover{
    background-color: rgb(20, 183, 220);
     transform:perspective(15);
}

.two{
    height: 100vh;
    width: 100%;
}
#video-background{
    width: 100%;
    height: 100vh;
    padding-left: 0;
}

.hero {
    background: url('https://images.unsplash.com/photo-1588776814546-79e9c3f92092?auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    color:black;
    padding: 100px 20px;
    text-align: center;
  }

  .hero h1 {
    font-size: 40px;
    padding-left: 60%;
  }

  .hero p {
    font-size: 20px;
    margin: 15px 0;
    padding-left: 60%;
  }

  .hero button {
    padding: 12px 25px;
    font-size: 16px;
    background-color:rgb(93, 230, 243);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 60%;
    margin-right: 0;
  }

  .hero button:hover {
    background-color: #16a34a;
  }@media (max-width: 768px) {
    .hero h1 {
      font-size: 30px;
    }

    .hero p {
      font-size: 16px;
    }
  }

