*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* nav css */
#main{
    width: 100%;
    height: 100vh;
}
.logo a{
    font-size: 30px;
    color: white;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}
.navbar{
background: black;
font-family:   Calibri;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
